html{color:#000;background:#fff;}
body{font:12px/1.5 "微软雅黑",Tahoma,Arial,Helvetica,sans-serif;word-break:break-all;word-wrap:break-word;}
body,h1,h2,h3,h4,h5,h6,p,dl,dd{margin:0;}ul,ol,input{margin:0;padding:0;}li{list-style: none;}
img{border:none;vertical-align:middle;}table{border-collapse:collapse;border-spacing:0;}
em,i{font-style:normal}b,strong,th{font-weight:normal;}
textarea{resize:none;}button,input,textarea{/*background: none; border:none;*/font-family:"微软雅黑",Tahoma,Arial,Helvetica,sans-serif;vertical-align:middle;}/*input:focus{outline: none;}*/

a{color: #333;}

.clearfix { *zoom:1}
.clearfix:after{content: "";display: block; clear: both;}
.clearDiv{clear:both;height:0;font-size:0; overflow: hidden;}

.fl{float:left;}
.fr{float:right;}

.wrap{width:1190px;margin:0 auto;text-align: left;}

/* header */
.header{ width: 100%; height: 90px; background: #ffda44; margin-bottom: 12px;}
.header_main h1{float: left; margin-right: 10px;}
.header_main h1 a{ color: #333; font:bold 40px/80px "微软雅黑"; text-decoration: none;}
.header_main h2{ float: left; font:bold 14px/90px "微软雅黑"; margin-right: 20px;}
.header_menu{float:left; padding-top: 26px; width: 874px;}
.header_menu>li{float: left; margin: 0 15px;}
.header_menu>li>a{display: block; font:16px/36px "微软雅黑"; text-decoration: none;}
.header_menu>li>.active{border-bottom:4px solid #000;}
.header_menu>li>a:hover{color: #000;}
.header_wdxz,.header_mycenter{ position: relative;}
.header_xz,.header_center{position: absolute; top:30px; width: 80px; border:1px solid #eee; border-bottom: none; background-color: #fff; display: none; z-index: 999;}
.header_xz li a,.header_center li a{display: block; height: 30px; border-bottom: 1px solid #eee; line-height: 30px; text-decoration: none; padding-left: 3px;}
.header_xz li a:hover,.header_center li a:hover{ background-color: #eee;}
.header_xz li a span,.header_center li a span{color: #ffda44;}
.header_wdxz:hover .header_xz{ display: block;}
.header_mycenter:hover .header_center{ display: block;}

.header_wdxz>a,.header_mycenter>a{ background:url(../images/back.png) no-repeat 70px 14px; padding-right: 20px;}
.header_wdxz:hover>a,.header_mycenter:hover>a{background:url(../images/back_1.png) no-repeat 70px 14px; }
.header_menu .quit{ float: right;}
.header_menu .quit a{font-size: 12px; line-height: 42px;}

/* 确认订单信息 */
.fonfirm{ width: 1000px; margin: 0 auto;}
.fonfirm h3{line-height: 25px;color: #333;font-weight: 700;font-size: 14px; margin-bottom: 30px;}

.fonfirm_table{width: 1000px; margin: 0 auto; text-align: center;}
td{border:1px solid #e4eaee; padding: 10px;}
.fonfirm_table img{ width: 50px; height: 50px; margin-right: 10px;}
.fonfirm_table tr:nth-of-type(2n){background: #f5f8fa;}
.fonfirm_table th{text-align: center;border-bottom: 3px solid #b2d1ff;}

.confirm_q{ width: 284px; height: 98px; padding: 10px 10px 10px 20px; margin-top:30px;border: 3px solid #fff0e8; text-align: right; float: right;}
.confirm_q li{ font-size: 12px; font-weight: bold; color: #333; line-height: 30px;}
.confirm_q li span{color: #666;}
.confirm_q .confirm_q_f span{font-size: 26px;margin-right: 4px;color: #999;}
.confirm_q .confirm_q_f i{color: #ff0036;font-size: 26px;}

.tijiao{margin-bottom: 50px; display: block;float:right;width: 182px;height: 40px; line-height:40px;text-decoration: none; text-align: center;font-size: 14px;font-weight: bold;background: #ff0036;color: #fff;}


/* footer */
.footer{ width: 100%; background-color: #333; padding: 40px 0;}
.footer ul{padding-left: 344px;}
.footer li{float: left; width: 140px;text-align: center; margin-right: 86px;}
.footer li span{display: block; font-size: 20px; line-height: 50px; color:#fff;}

/* 底部一堆 */
.footer_1{padding: 8px 0; text-align: center;}
.footer_1 a{margin: 0 4px; text-decoration: none;white-space: nowrap;color: #6c6c6c;}
.footer_1 a:hover{color: #f40;}
.footer_1 span{padding-left: 30px; border-left: 1px solid #6c6c6c;}
.footer_2 a{ margin-right: 22px;}
.footer_2 { text-align: center; padding-left: 16px;padding-bottom: 50px;}